@import "./base/all.scss";
@import './transition.scss';
@import './element-variables.scss';

:root {
  background-color: #000;
  // 針對全局(Font color, Border color, etc...)
  --primary: #{$primary};
  // 輔色-用於元素背景
  --secondary: #121518;
  // Background color
  // --main_bg: #{};
}

html {
  font-size: 16 + 'px'
}
html,body,#app{
  background-color:$bg;
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
  Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: center;
  color: #000;
  margin: 0;
}

@media screen and (min-height: 790px) {
  html,body,#app{
  }
}
